.login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-size: 2vw;
}

.login-wrapper .content {
  width: 30%;
  border: 2px solid rgb(115, 205, 233);
  padding: 40px;
}

.login-wrapper label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.login-wrapper label .label {
  color: rgb(28, 108, 133);
  width: 25%;
}

.login-wrapper label input {
  font-size: 20px;
  font-size: 1.5vw;
  width: 65%;
  margin-left: 10px;
}

.login-wrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}