.message-page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-size: 2vw;
}

.message-page-wrapper .content {
  width: 30%;
  border: 2px solid rgb(115, 205, 233);
  padding: 40px;
}

.message-page-wrapper textarea {
  width: 100%;
  height: 200px;
}

.message-page-wrapper label input {
  font-size: 20px;
  font-size: 1.5vw;
  width: 65%;
  margin-left: 10px;
}

.message-page-wrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}