@keyframes spin { 
  100% { transform: rotate(360deg); } 
}

.message-icon {
  align-self: flex-end;
  margin-left: 10px;
}

.message-icon:hover {
  font-size: 2rem;
}

.my-message .message-icon {
  margin-right: 10px;
  font-size: 2rem;
}

.my-message .message-icon:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}