.chat-message {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 65%;
  flex-direction: row;
  position: relative;
}

.chat-message img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.my-message {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
}

.message-body {
  background-color: rgb(130, 209, 233);
  padding: 10px 20px;
  word-break: break-word;
  border-radius: 15px;
  margin-left: 20px;
  font-weight: 500;
}

.my-message > .message-body {
  align-self: flex-end;
  margin-left: 0px;
  margin-right: 20px;
  padding-left: 40px;
  word-break: break-word;
}

.message-body:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(130, 209, 233);
  border-top: 10px solid rgb(130, 209, 233);
  border-bottom: 10px solid transparent;
  left: 70px;
  top: 20px;
}

.my-message > .message-body:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgb(130, 209, 233);
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(130, 209, 233);
  border-bottom: 10px solid transparent;
  left: calc(100% - 20px);
  top: 12px;
  align-self: flex-end;
}

.my-message > .message-edit {
  display: none;
}

.my-message .message-body:hover + .message-edit,
.message-edit:hover {
  display: flex;
}

.my-message .message-icon {
  align-self: center;
  margin-right: -40px;
  margin-left: 10px;
}

.message-time {
  font-size: 0.75rem !important;
  text-align: end;
}

.my-message .message-time {
  text-align: start;
}