button {
  /* margin-right: 20px;
  margin-top: 10px; */
  margin: 15px;
  font-size: 20px;
  padding: 10px;
  width: 140px;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  border: solid 2px;
  background-color: transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover,
button:focus {
  text-decoration: none;
  cursor: pointer;
}

.success {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}

.success:hover {
  opacity: 0.75;
}

.info {
  color: rgb(115, 205, 233);
  background-color: transparent;
  background-image: none;
  border-color: rgb(115, 205, 233);
}

.info:hover {
  color: #fff;
  background-color: rgb(115, 205, 233);
  border-color: rgb(115, 205, 233);
}

.danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}