.users-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.users-list .add-user-button {
  margin-left: 0px !important;
  margin-bottom: 25px;
}

.users-list .user {
  border: 2px solid rgb(115, 205, 233);
  width: 480px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.users-list .user .user-username {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100px;
}